*
{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

.mainContainer
{
    max-width: 1200px;
    width: 80%;
    margin: 10px auto; 
    border: 1px solid rgb(56, 142, 60);
}

.btn-rounded
{
    padding: 3px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    outline: none;
}

.header
{
    padding: 5px;
    background: rgb(56, 142, 60);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .header-addbtn button
{
    padding: 5px 4px;
    background: rgb(92, 184, 92);
    border: none;
    text-align: center;
    color: #f2f2f2;
    font-weight: bold;
}

.actions
{
    width: 95%;
    background: rgb(214, 233, 198);
    margin: 15px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
}

form
{
    width: 95%;
    margin: 10px auto;
}

.actions-input
{
    flex-grow: 1;
}

.actions-btns
{
    margin-right: 5px;
}

.actions input[type="text"]
{
    outline: none;
    padding: 10px;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
}

.center
{
    width: 100%;
}

.center-top
{
    padding: 5px;
    background: rgb(56, 142, 60);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #FFF;
    overflow: hidden;
  }
  
  th, td{
    text-align: center;
    vertical-align: center;
    border: 1px solid #000;
  }


  .task
  {
      display: none;
      width: 80%;
      padding: 10px;
      margin: 10px auto;
      background: orange;
      text-align: center;
      font-size: 15px;
  }

  #taskMensaje
  {
      font-weight: bold;
  }

